.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  .tagsWrap {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .h1 {
    font-size: 30px;
    color: #1874cf;
    transition: all 0.2s;
    &:hover {
      color: #2291ff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
