.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  .tagsWrap {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .header {
      display: flex;
      align-items: center;
      flex-direction: row;

      gap: 8px;
      max-width: 80%;
      .h1 {
        font-size: 30px;
        color: #1874cf;
        transition: all 0.2s;
        gap: 8px;
        &:hover {
          color: #2291ff;
          text-decoration: underline;
          cursor: pointer;
        }
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
