.analyticsView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-color: #e6e6e6;
  border-radius: 0px;
  padding: 16px;
  width: 100%;
  height: auto;
  .analyticsCard {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
}
