.searchTabLayout {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  height: 100%;

  .statsLabel {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
  }

  .cardWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 12px;
  }
}
